*.pyc
/media
/python
/roles/dotfiles/files/.gh.json
/roles/dotfiles/files/.hammerspoon/iterm.lua
/roles/dotfiles/files/.imapfilter/private.lua
/roles/dotfiles/files/.mutt/config/aliases.mutt
/roles/dotfiles/files/.mutt/hooks/presync/work.sh
/roles/dotfiles/files/.mutt/offlineimap.pyc
/roles/dotfiles/files/.mutt/scripts/vendor
/roles/dotfiles/files/.npmrc
/roles/dotfiles/files/.pypirc
/roles/dotfiles/files/.vim
/roles/dotfiles/files/.zsh/exports.private
/roles/ssh/files/ssh_config
